<mat-nav-list>
  <mat-list-item [routerLink]="['/overview']" [routerLinkActive]="['active']">
    <a>Overview</a>
  </mat-list-item>
  <mat-divider class="divider"></mat-divider>
  <mat-list-item [routerLink]="['/new']" [routerLinkActive]="['active']">
    <a>What's new</a>
  </mat-list-item>
  <mat-divider class="divider"></mat-divider>
  <mat-list-item [routerLink]="['/gettingstarted']" [routerLinkActive]="['active']">
    <a>Getting Started</a>
  </mat-list-item>
  <mat-divider class="divider"></mat-divider>
  <mat-list-item [routerLink]="['/verizonwireless']" [routerLinkActive]="['active']">
    <a>Working with Verizon Wireless</a>
  </mat-list-item>
  <mat-divider class="divider"></mat-divider>
  <mat-list-item [routerLink]="['/apiconsole']" [routerLinkActive]="['active']">
    <a>API Console</a>
  </mat-list-item>
  <mat-divider class="divider"></mat-divider>
  <mat-list-item [routerLink]="['/apiref']" [routerLinkActive]="['active']">
    <a>API Reference</a>
  </mat-list-item>
</mat-nav-list>
