.left-pane{
  width: 30%;
  padding: 30px;
}
.right-pane{
  width: 70%;
  padding: 30px;
}

.list-item {
  text-decoration: none;
}

.table, th, td {
  border: 1px solid #e0e0e0;
}

.table-header{
  font-size: 0.8em;
  color: white;
  background-color: black;
}

